################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/BankWork/bin
/BankWork/obj
/BankWork.Domain/bin
/BankWork.Domain/obj
/BankWork.Domain.Tests/bin
/BankWork.Domain.Tests/obj
/BankWork.Persistent/bin
/BankWork.Persistent/obj
/BankWork.Persistent.Tests/bin
/BankWork.Persistent.Tests/obj
/BankWork.Tests/bin
/BankWork.Tests/obj
/packages
/BankWork.Domain/*.user
